h1{
    text-align: center;
    padding: 15px 30px;
}

body{
    background-color: rgb(238, 237, 236);
}

.table-responsive{
    width:80%;
    margin:0 auto;
}

td{
    background-color: white;

}

div.chart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pieChart{
    padding: 100px;
    margin-right: 100px;
}

#barChart{
    padding: 100px;
    margin-left: 100px;
}